@import "./utilities/variable";
@import "./utilities/mixins";
@import "./base/reset";
@import "./base/typo";
@import "./components/bootstraps";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/header-index";
@import "./layout/main-talles";
@import "./layout/main-nosotros";
@import "./layout/main-productos";
@import "./layout/main-ayuda";

@media screen and (min-width: 24.375em) {
    .fi .firma {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer-nav > * {
        flex: 1;
    }
    
    .fnav-item--extra {
        flex-grow: 2;
    }
    
    .footer-addr {
        flex: 1 0px;
    }
    
    .footer-nav {
        flex: 2 0px;
    }
}