.nosotros{
    @include flex(flex,center,none,wrap)
    .bloque{
        display: flex;
        section{
            width: 40rem;
            h1{
                color: $color-letras;
                @include flex-simple(flex,center)
                margin-top: 10px;
            }
            p{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        img{
            width: 30rem;
            height: 30rem;
            border-radius: 20px;
        }
    }
}
