.main-ayuda{
    display: flex;
    width: 100%;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
        width: 700px;
        h1{
            justify-content: center;
            display: flex;
            color: rgba(60, 211, 118, 0.979)
            }
        p{
            width: 25rem;
            margin-left: 10px;
            }
        }
}