.pag-3{
    margin-top: 20px;
    .card-sale-pag-3{
        @include flex(flex,center,none,wrap);
        .card{
            margin: 20px;
            img{
                width: 288px;
                height: 360px;
            }
        }
    }
}