.p-sale{
    @include flex(flex,center,none,none);
}

.el-mejor-carrusel{
    flex-wrap: wrap;
    @extend.p-sale;
    .slider-container {
        display: flex;
        width: 18rem;
        margin: 20px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        
    }
}

.slider-container .card {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}
.card-sale{
    @include flex(flex,none,none,wrap);
    box-sizing: border-box;
    width: 50%;
}

.precentacion-productos{
    width: 100%;
    flex-wrap: wrap;
    @extend .p-sale;
        a{
            margin: 20px;
            display: flex;
            img{
                display: flex;
                width: 20rem;
                height: 400;
            }
        }
}