.nosotros{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .bloque{
        display: flex;
        section{
            width: 40rem;
            h1{
                color: rgba(60, 211, 118, 0.979);
                display: flex;
                justify-content: center;
                margin-top: 10px;
            }
            p{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        img{
            width: 30rem;
            height: 30rem;
            border-radius: 20px;
        }
    }
}
