.main-ayuda{
    width: 100%;
    @include flex-simple(flex,center);
    div{
        display: flex;
        flex-direction: column;
        width: 100%;
        h1{
            @include flex-simple(flex,none);
            color: $color-letras;
            }
        p{
            width: 25rem;
            margin-left: 10px;
            }
        }
}