.main-ayuda{
    width: 100%;
    @include flex-simple(flex,center)
    div{
        display: flex;
        flex-direction: column;
        width: 700px;
        h1{
            @include flex-simple(flex,center)
            color: $color-letras;
            }
        p{
            width: 25rem;
            margin-left: 10px;
            }
        }
}