@media (max-width:420px){
    .main-ayuda{
        justify-content: flex-start;
        div{
            width: 100%;
            p{
                width: 90%;
                }
    }
    }
    .nosotros{
        .bloque{
            img{
                width: 18rem;
            }
        }
    }
    .ttalles{
        flex-flow: wrap-reverse;
        .talles{
            margin: 10px;
        }
        .ejemplo-talles{
            margin: 10px;
            h1{
                margin-bottom: 30px;
            }
        }
    }
}