@media (max-width:1120px){
    .nosotros{
        .bloque{
            section{
                margin-right: 20px;
            }
            img{
                width: 25rem;
                height: 25rem;
            }
        }
    }
    
}