@media (max-width:360px){
    .precentacion-productos{
        a{
            img{
                width: 17rem;
                height: 340px;
            }
        }
    }
    .precentacion-productos{
        a{
            img{
            height: 400px;
            }
        }
        }
}

